<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog - Windrose &amp; Company</title>
    <link rel="stylesheet" href="css/bootstrap.min.css ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
  </head>
  
  <body>
    <header
      class="masthead"
      style="background-image: url('assets/intro-bg.jpg')"
    >
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">
                <br />
                <strong>WINDROSE &amp; COMPANY</strong>
                <br /><br />
              </h1>
              <p class="intro-text">
                Richer seas await - your journey begins here.
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>{{ content | html }}</main>

    <footer>
      <div class="container text-center">
        <p>Copyright ©&nbsp;Windrose &amp; Company 2023</p>
      </div>
    </footer>
  </body>
</html>
